.app_window-skel, .title_bar-skel, .menu_bar-skel, .common_bar-skel, .window, .file_port, .tool_pane-skel, #file1, .help_box-skel, .status_bar, .settings_menu { position: relative; }

.app_window-skel { margin: 0; padding: 0; height: 100%; width: 100%; }


.title_bar-skel h1 {  text-align: right; }

.file_port { position: absolute; border: 1px solid black; overflow-x: hidden;
 overflow-y: auto;  }
#file1 { position: absolute; background: #dddddd; border: 0; }
#file1:focus {  border: 0; outline: 0; background: #ffffff; }
.tool_pane-skel { position: absolute;  }
.help_box-skel { border: 1px black solid; }
.status_bar { position: absolute; }
.settings_menu { position: absolute; }
