#selection { }
#colours { border: 2px solid red;
   padding: 0.5em; 
}
#colours .swatch { position: absolute;
  border: 4px solid gray;
  width: 20px; height: 20px; }

#colours #row1col1 { top: 30px; left: 5px; background: #000; }
#colours #row1col2 { top: 30px; left: 33px; background: #002; }
#colours #row1col3 { top: 30px; left: 61px;  background: #320300; }
#colours #row1col4 { top: 30px; left: 89px; background: #2E3200; }
#colours #row1col5 { top: 30px; left: 117px; background: #003204; }
#colours #row1col6 { top: 30px; left: 145px; background: #320030; }

#colours #row2col1 { top: 58px; left: 5px; background: #5F5F5F; }
#colours #row2col2 { top: 58px; left: 33px; background: #05006B; }
#colours #row2col3 { top: 58px; left: 61px; background: #6B0300; }
#colours #row2col4 { top: 58px; left: 89px; background: #4E3300; }
#colours #row2col5 { top: 58px; left: 117px; background: #005C03; }
#colours #row2col6 { top: 58px; left: 145px; background: #56005C; }

#colours #row3col1 { top: 86px; left: 5px; background: #ff0000; }
#colours #row3col2 { top: 86px; left: 33px; background: #F9DC00; }
#colours #row3col3 { top: 86px; left: 61px; background: #639500; }
#colours #row3col4 { top: 86px; left: 89px; background: #008A2B; }
#colours #row3col5 { top: 86px; left: 117px; background: #04A7D3; }
#colours #row3col6 { top: 86px; left: 145px; background: #B3008F; }

#colours #row4col1 { top: 114px; left: 5px; background: #FF9603; }
#colours #row4col2 { top: 114px; left: 33px; background: #FFDD43; }
#colours #row4col3 { top: 114px; left: 61px; background: #C2FF46; }
#colours #row4col4 { top: 114px; left: 89px; background: #88FFD0; }
#colours #row4col5 { top: 114px; left: 117px; background: #97C1FF; }
#colours #row4col6 { top: 114px; left: 145px; background: #ffffff; }

