body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 overflow: auto;
 height: 100%;
 background: #1961FB url('../ui/blue_gradient.png') repeat-x;
 color: #000000;
 font-family: arial, "sans serif";
}	
.content { background: #ffffff; }
/* www.linux-paradise.co.uk/ for abs. urls on menus, gfx */
/* begin fonts */
@font-face {
    font-family: links-font;
    src: url('../images/fonts/Anonymous_Pro_B.ttf') format('truetype') ;
}
@font-face {
  font-family: 'header';
  src: url('../images/fonts/FjordOne-Regular.otf')  ;
}
/* end of fonts */

/* start of header */
.masthead, .masthead a { 
    margin-left: auto; 
    margin-right: auto;
    margin-top: -32px;
    margin-bottom: 0px;
    width: 960px;  
    border: 0; text-decoration: none;
}
.masthead {
    height: 250px;
    background-color: #1961FB;
    background-image: url('../ui/banner_colour.png') ;
 }
.masthead h1, .masthead h2 {
width: 700px;
padding-left: 250px; color: #ffffff; 
font-family: header, 'Liberation serif', 'times new roman', serif;
}
.masthead h1 { font-size: 36pt; font-weight: bold; padding-top: 40px; }
.masthead h2 { font-size: 20pt; font-style: italic; padding-top: 30px; }
/* darker blue is: #043496; */

/* end of header */
/* layout */
div.content {
  float: left;
  width: 100%;
  height: 100%;
}
div.side-bar {
  float: right; 
  width: 170px;   
}

div.main-content {
  margin-right: 180px; float: left;
  word-wrap: break-word;
}
/* end of page layout */

.footer { clear: both;
  width: 900px; height: 22px;
  padding: 5px 5px 5px 5px; margin: 0 auto;
  color: #999999; background: #fff;
  font-size: 10pt;
}
/* end of footer part */

/* links start */
.toplinks { 
    width: 100%; height: 34px; 
    background-color: #9E9E9E;
   }

.toplinks div {
  display: block;
  width: 150px; height: 34px;
  background: -webkit-gradient(linear, left top, right top, from(#9e9e9e), to(#e9dfe9)); /* for webkit browsers */
background: -moz-linear-gradient(left,  #9e9e9e,  #e9dfe9); /* for firefox 3.6+ */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#9e9e9e', EndColorStr='#e9dfe9'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9e9e9e', endColorstr='#e9dfe9')"; /* IE8 */
  background-image: 
  linear-gradient(
      90deg,
      rgba(158,158,158,1.0) 0,
      rgba(233,223,233,1.0) 50%
  );
   
} 
.toplinks div a {
  display: block;
  width: 150px; height: 30px;
  color: #DE304B;
  text-decoration: none;
  font-family: links-font, cantarell, arial, sans-serif;
  font-size: 14pt; font-weight: bold; 
  padding-top: 4px;
  text-align: center;
  
}

.toplinks div a:hover {
  color: #80003B;
  background: -webkit-gradient(linear, right top, left top, from(#7c7c7c), to(#d8ced8)); /* for webkit browsers */
background: -moz-linear-gradient(right,  #7c7c7c,  #d8ced8); /* for firefox 3.6+ */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#7c7c7c', EndColorStr='#d8ced8'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#7c7c7c', endColorstr='#f9dff9')"; /* IE8 */
  background-image: 
  linear-gradient(
      270deg,
      rgba(148,148,148,1.0) 0,
      rgba(223,210,223,1.0) 50%
  );
}
.toplinks div a:active {
    color: #DE304B;
}
div#features_link {
 position: relative;
 top: 0px; left: 0px;
}
div#dev_link {
    position: relative;
    top: -34px; left: 150px;
}
div#doc_link {
    position: relative;
    top: -68px; left: 300px;
}
div#contact_link {
    position: relative;
    top: -102px; left: 450px;
}
#twit { position: absolute; z-index: 0; top: 250px; right: 80px; }
#blog { position: absolute; z-index: 0; top: 250px; right: 40px; }
#git { position: absolute; z-index: 0; top: 250px; right: 0px; }
/* ends the link bit */

/* styling settings for content */
.side-bar {
  padding: 2px;

}
.main-content {
  margin: 10px;
}
.main-content h1, h2 {
  color: #80003B;
  font-weight: bold;
}
.main-content h1 {

  font-size: 16pt;
}
.main-content h2 {
  font-size: 14pt; 
}
.main-content h3, h4 {
  color:#DE304B;
  font-weight: bold;
}
.main-content h3 {
  font-size: 14pt;
}
.main-content h4 {
  font-size: 13pt;
}

.main-content p {
  font-size: 12pt;
  
}

.main-content img {
  display: block;
  border: solid 1px grey;
  margin-left: auto;
  margin-right: auto;
}
img.icon {
  border: 0;
  float: right;
  margin-left: auto;
}
p.app_descr { }

.main-content .aside {
  background-color:#9E9E9E;
  color: #000000;
}
.main-content a {  color: #DE304B; }

.main-content table {
  border-collapse: separate;
  border-spacing: 20px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-content td {
  padding: 10px;
  border: 1px #9E9E9E solid;
}
div.section { position: relative; top: 40px; }

/* ends general styles */
