.large_icon { position: absolute; top: 0px; margin: 2px 0;
  /* default theme image, belongs in a theme */
  background-image: url('../../ui/large-icon-bg.svg'); background-size: 100% 100%;
}
span.name, .img { display: inline-block; }
span.name { vertical-align: top; }
.img { position: relative; left: 0px; top: 0px;
  background-size: 100% 100%; /* newer supported browsers only */ }
a, .large_icon, span.name, .img { text-decoration: none; color: black; }
input.text_field { border: 1px solid #333333; }
.ctl-btn { position: relative; top: -4px; right: 0px;
           border: 1px solid #ccc; 
           background-color: #ffffff; 
           background-size: 100% 100%;
}
#large_icon1 { left: 0px; }
/* width and height values in common-bar_simple-screen.css */
#img_large1 { background-image: url('/home/hazel/Documents/new_linux_paradise/sandbox/sandbox/appearence/themes/default_pro_theme/icons/general/128/new_file_128x128.png'); }
#img_large2 { background-image: url('/home/hazel/Documents/new_linux_paradise/sandbox/sandbox/appearence/themes/default_pro_theme/icons/general/128/save_file_128x128.png'); }
button#search { background-image: url('/home/hazel/Documents/new_linux_paradise/sandbox/sandbox/appearence/themes/default_pro_theme/icons/word_processing/64/dictionary_64x64.png'); }
#img_large4 { background-image: url('/home/hazel/Documents/new_linux_paradise/sandbox/sandbox/appearence/themes/default_pro_theme/icons/general/wikipedia.png'); }