@media print{
body{background-color:#FFFFFF; color:#000000 }
#bannerarea{display:none;}
#pathlinks{display:none;}
#leftcolumn{display:none;}
#artbox{display:none;}
#spacertd{display:none;}
pre{background-color: white;}
* html pre, * html .examplecode{font-size: 90%;}
}

body{
background-color: white;
color: black;
font-family: Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
font-size: 90%;
margin-top: 5px;
margin: 0;
padding: 0;
}

body>table{
width: 98%;
margin: auto;
}

A:link    { color: #3A6200}    /* unvisited links */
A:visited { color: #686833; }   /* visited links   */
A:hover   { color: #8D8032; }
A:active  { color: red }   /* active links    */

pre, .examplecode{
background-color: #EFEFEF;
font-size: 13px;
}

.codewrap{
overflow: scroll;
padding-left: 10px;
width: expression(document.body.clientWidth-210);
}


code{
font-size: 12px;
background-color: #EFEFEF;
}

.examplecode{
font-family: Courier new;
border:1px solid gray;
padding: 5px;
line-height: 19px;
}

* html .examplecode{ /*IE rule*/
font-size: 13px;
}

table#maintable, table{
font-size: 100%;
}

h3{
font-size: 120%;
}

h4{
font-size: 110%;
}

/* ######### Header Area ######### */

#bannerarea{
width: 880px;
margin-bottom: 10px;
text-align: center;
}

#bannerarea div.bsap_1279042{
margin-left: 205px;
}

#pathlinks{
background-color: #cde9af;
padding: 5px;
font: bold 15px Verdana;
border-top: 1px solid yellow;
margin-bottom: 8px;
}

#pathlinks a{
color: blue;
text-decoration: none;
}

#spacertd{
width: 1px;
padding-left: 14px;
}

#spacertd img{
display: none;
}

#jksitesearch #zoom_query{
background: lightyellow;
width: 250px;
font: bold 13px Arial;
padding: 5px;
margin-bottom: 5px;
border: 1px solid black;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#jksitesearch .zoom_button{
vertical-align: middle;
position: relative;
top: -5px;
}

#jksitesearch #jksitesearch_cat{
font: bold 11px Arial;
margin-right: 5px;
}

#jksitesearch #jksitesearch_cat input{
margin-left: 8px;
}

/* ######### Left Column ######### */

#leftcolumn{
width: 175px;
border: 1px solid gray;
}

#leftcolumn a:hover{
/*color: #FF8000;*/
}

.categorylinks{
list-style-type: none;
margin: 5px auto 10px auto;
padding: 0;
}

.categorylinks li{
padding-bottom: 2px;
}

.categorylinks li a{
background: white url("fold2.gif") no-repeat center left;
text-indent: 17px;
padding: 3px 1px;
font-size: 12px;
display: block;
text-decoration: none;
font-weight: bold;
border-bottom: 1px solid #EAEAEA;
}

* html .categorylinks li a{ /*IE rule*/
background: white url("fold2.gif") no-repeat 30% left;
}


.categorylinks a:hover {	color: #fff;	background-color: #51B906; text-decoration: none; }

#leftcolumn .headers{
color: white;
font: bold 110% Arial;
background-color: #008000;
padding: 2px;
text-align: center;
}

.pblock{
margin: 5px auto 10px 5px;
font-size: 12px;
}

.pblock strong{
font-size: 120%;
}

#leftcolumn .linkslist{
list-style-type: disk;
margin: 5px auto 10px 17px;
padding: 0;
font-size: 11px;
}

#leftcolumn .linkslist li{
padding-bottom: 1px;
}

#leftcolumn .linkslist li a{
text-decoration: none;
}



/* ######### Right Main column ######### */

#rightcolumn{
font-size: 90%;
vertical-align: top;
}

#toc{
list-style-type: decimal;
font-weight: bold;
font-family: Arial;
background-color: lightyellow;
border-top: 1px solid gray;
padding-top: 3px;
}

#toc li{
margin-bottom: 5px;
}

#nextpage{
font-weight: bold;
}

/* ######### Footer area ######### */

#footer{
border: 0 solid #BEBEBE;
border-top-width: 1px;
text-align: left;
margin-left:175px;
font-size: 80%;
padding-top: 3px;
margin-bottom: 5px;
}

#footer a{
text-decoration: none;
}

/*** Mobile specific CSS ***/

@media screen and (max-width:750px){

#bannerarea, #footer{
text-align:left;
}

#leftcolumn{
display:none;
}

#footer{
margin-left:0;
}

}

@media screen and (max-width:480px){

#topsection{
font-size: 12px;
width: 100%;
}

#bannerarea, #footer{
display:none;
}

#rightcolumn{
padding: 0 20px;
box-sizing: content-box;
font-size: 110%;
}

#rightcolumn>table{
width: 100%;
}