/* main-largeScreen.css
* 
* The css for the layout, flexible resizing with no pixel values where possible.
* Some place holder borders used that are just to ease development.
* TODO: 
*/

* {   margin: 0; }

.app-window { height: 100%;
width: 95%; margin: 0 auto; }

/* .all-tool-bars { position: relative; 
  width: 100%; he
  display:block;
 overflow: none;
} */

.title-bar
.menu-bar { position: relative; width: 80%; }
.common-bar { position: relative; }

.window { float:right; 
 position:relative; 
  width: 100%; 
}

.viewport {
  float: left; 
  position: relative; 
}

.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */ 

.toolbox { 
  float: right;
  width: 20%;
}

footer.status-bar { position: fixed; bottom: 0; left: 0; clear:both;
 display:block;
 overflow: none;
  width: 100%; }
  
.launcher { float: left; width: 20%; height: 100%; }
.statuses { margin-left: 20%;  width: 80%; height: 100%; }

/* This ends the main layout boxes */

header { position: relative; margin: 0 auto; width: 70%; }
       
.menu { margin: 0 auto; width: 85%;  }
li {  list-style: none; }
.menuBody ul, .menuBody li, .menuBody a, 
.menuHead ul, .menuHead li, .menuHead a {
  margin: 0; padding: 0;
  border: 0; outline: 0;
}
li.menuHead {
    display: inline;
}

.menuHead li a {
    display: block; /* To make the links a certain width etc I think */
}
.menuBody {
    position: absolute;
    z-index: 5000;
    display: none;
}
.menuBody li { clear: both; }
.menuBody li a, .menuBody li a:active, .menuBody li a:visited { display: block; }

/* tables for grids of icons */
table.common-icons { margin: 0 auto; border: 0; border-collapse: collapse; }
td.large-icon {  border:0; }

.toolbox table { margin-bottom: 4%; }
.document { width: 100%; height: 100%; overflow: auto; }
/* css for IE 8 bg images: background-image: transparent url(' '); */
