.status-bar { height: 34; font-size: 14pt; }
header { height: 30; font-size: 14pt;  }
.menu, .menu li { height: 46; } 
.topLevelMenu { width: 160; }

.common-icons tr { height: 46; } /* height of the common bar icons. */
.large-icon td {  width: 160;  } /* width of each common bar icon and height */
/* .large-icon img {  transform:scale(2.0,1.1);
    -ms-transform:scale(2.0,1.1); /* IE 9 */
    -moz-transform:scale(2.0,1.1); /* Firefox */
    -webkit-transform:scale(2.0,1.1); /* Safari and Chrome */
    -o-transform:scale(2.0,1.1); /* Opera */
  
} */
.toolbox table tr { height: 64; } /* toolbox icon height */
.toolbox table tr td { width: 64; } /* toolbox icon width */
/* .toolbox table tr td img { 
  transform:scale(2.0,2.0);
  -ms-transform:scale(2.0,2.0);
  -moz-transform:scale(2.0,2.0);
  -webkit-transform:scale(2.0,2.0);
  -o-transform:scale(2.0,2.0);
} */