body { overflow-x: hidden; }
body#landing {  

}

/* USING MODERNIZR FOR OLDER BROWSERS ---
 * 
 * #nice {
    background: url(background-one.png) top left repeat-x;
}
html.multiplebgs #nice {
    background: url(background-one.png) top left repeat-x,
    url(background-two.png) bottom left repeat-x;
}
=============================== */
@font-face { 
  font-family: headings;
  src: url(../fonts/Sofia-Regular.otf);
}
@font-face {
  font-family: body;
  src: url(../fonts/EBGaramond.otf); 
}
@font-face {
  font-family: nav;
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
}
header { 
  width: 900px; height: 160px;  
  background: url(../images/header_bg.jpg) no-repeat;
  background-size: 100% 100%;
}
header #logo { 
  background: url('../images/logo_230.png') no-repeat;
  background-size: contain;
  width: 154px; height: 154px; 
  border: 3px solid white; float: left;
}
div#header_text { 
  position: relative; 
  left: 160px; top: 0px; width: 600px;
  width: auto; 
  height: auto;
}
div#header_text h1 { 
  font-family: headings, "URW Chancery L", arial, "sans serif"; 
  font-size: 42px; padding: 5px;  
}
div#header_text h2 { 
  font-family: headings, "URW Chancery L", arial, "sans serif"; 
  font-size: 34px; 
}
div#donate { 
  position: fixed;
  border: 1px solid gray; 
  height: 156px; width: 120px; 
  top: 0px; right: 0px;
}

div#container { width: 100%; height: 100%; }
#container nav { 
  width: 150px; height: auto; 
  float: left; 
  font-family: nav, verdana, arial, "sans serif";
  font-weight: bold;
    
}
nav .subnav ul { list-style: none;  }
div#content { 
  height: 700px; width: 1000px; 
  border: 5px solid #1961FB;
  margin-left: 155px; float: left; 
  font-family: body, "times new roman", georgia, "serif";
 }
div#demo_vid { 
  position: absolute; 
  z-index: 7000; 
  width: 300px; height: 200px; 
  top: 200px; left: 250px;
  background: #330013; border: 1px solid black;
}
div#switch { 
  position: absolute; 
  z-index: 7000;
  width: 400px; height: 200px;
  word-wrap: break-word;
  top: 530px; left: 170px;
  background: #ccc url(../images/deckchair.jpg) no-repeat;
  background-size: contain;
}

footer { position: fixed; bottom: 0px; background: #dc0001; }
