
    <div id="large_icon1" class="large_icon">
      <a href="#">
      <div id="img_large1" class="img"></div>
      <span class="name">New</span>
      </a>
    </div>
    <div id="large_icon2" class="large_icon" >
      <a href="#">
      <div id="img_large2" class="img"></div>
      <span class="name">Save</span>
      </a>
    </div>
    <div id="large_icon3" class="large_icon">
      
      <form method="get" action="#">
      <input type="text" id="spellcheck" class="text_field" name="spellcheck" placeholder="word look up" /> 
      <button class="ctl-btn" type="submit" id="search" title="Spellcheck" />
    </div>
    <div id="large_icon4" class="large_icon">
      <a href="http://www.wikipedia.org">
      <div id="img_large4" class="img"></div>
      <span class="name">Wikipedia</span>
      </a>
    </div> 
