<html>
<head>

<script type="text/JavaScript" src="scripts/menu-slider.js">
</script>  
     <link rel="stylesheet" type="text/css" href="styles/menu/base_menu.css" />
     <link rel="stylesheet" type="text/css" href="styles/sizes/simple_screen/menu.css" />
</head>
<body>

<table class="menu" title="File" id="menu1" >
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name" ><a href="">New</a></td>
    <td class="menuAcckey">Ctrl + N</td>
  </tr>
  <tr>
    <td class="menuIcon"></td>
    <td class="name"><a href="">Open</a></td>
    <td class="menuAcckey">Ctrl + O</td>
  </tr>
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Save</a></td>
    <td class="menuAcckey">Ctrl + S</td>
  </tr>
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Save As </a></td>
    <td class="menuAcckey">Ctrl Shift + A</td>
  </tr>
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Close file </a></td>
    <td class="menuAcckey">Ctrl + W</td>
  </tr>
</table>

<table class="menu" title="Edit" id="menu2">
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Cut </a></td>
    <td class="menuAcckey">Ctrl + X</td>
  </tr>
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Copy </a></td>
    <td class="menuAcckey">Ctrl + C</td>
  </tr>
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Paste </a></td>
    <td class="menuAcckey">Ctrl + V</td>
  </tr>  
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Delete </a></td>
    <td class="menuAcckey">Del</td>
  </tr>  
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Select All </a></td>
    <td class="menuAcckey">Ctrl + A</td>
  </tr>  
</table>

<table class="menu" title="View" id="menu3">
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Zoom In </a></td>
    <td class="menuAcckey">Ctrl ++</td>
  </tr>
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Zoom Out </a></td>
    <td class="menuAcckey">Ctrl --</td>
  </tr>  
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Go To Line </a></td>
    <td class="menuAcckey">Ctrl + G</td>
  </tr>  
</table>

<table class="menu" title="Format" id="menu4">
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Change Font </a></td>
    <td class="menuAcckey"></td>
  </tr>
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Indentation </a></td>
    <td class="menuAcckey"></td>
  </tr>  
  <tr class="menu_item">
    <td class="menuIcon"></td>
    <td class="name"><a href="">Highlighting </a></td>
    <td class="menuAcckey"></td>
  </tr>
</table>
  
</body>
</html>