<div class="settings_menu">
  <nav role="navigation" aria-label="Main menu">
    <ul role="menubar">
        <li  id="programs_menu" role="menuitem" aria-haspopup="true" tabindex="0"><a href="#">Programs</a>
            <ul class="submenu" role="menu" aria-hidden="true">
                <li role="menuitem" tabindex="-1"><a href="#">Dashboard</a></li>
                <hr />
                <li class="label" tabindex="-1">Themes</li>
                <li role="menuitem" tabindex="-1"><a href="#"></a></li>
                <li role="menuitem" tabindex="-1"><a href="#"></a></li>
                
            </ul>
        </li>
    </ul>
  </nav>
</div>

    <div class="statuses">
    
    </div>
