<!DOCTYPE html class="no-js">
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta keyword="author" value="Hazel Windle" />
  <meta keyword="creation-date" value="20140120" />
     <title>Jotter - Paradise Office</title>
  
<script type="text/JavaScript" src="../../../js_lib/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../../../js_lib/modernizr.custom.min.js"></script>
<script type="text/javascript" src="../../../js_lib/colour_picker/spectrum.js"></script>
<noscript>
<h2>Javascript not present</h2><p>Please turn on javascript by altering your web browser settings. <a target="blank" href="http://www.btny.purdue.edu/enablejavascript.html">Additional help for turning this setting on</a>.</p>
</noscript>
<script type="text/JavaScript" src="../../../js_lib/jqueryui-default-pro/js/jquery-ui-1.10.3.custom.js" ></script>
<script type="text/JavaScript" src="../../../js_lib/resize-screen.js"></script>
<script type="text/JavaScript" src="../../sandbox/logic/file_port/file_port_tabs.js"></script>
<script type="text/javascript" src="../../sandbox/appearance/default_pro_theme/scripts/widgets.js"></script>
<script type="text/JavaScript" src="../../sandbox/logic/file_port/open/new.js"></script>

     <link rel="stylesheet" type="text/css" href="../../sandbox/ui/layouts/reset.css" />
     <!-- choosing the screen size/type -->
     <link rel="stylesheet" type="text/css" href="../../sandbox/ui/layouts/screen_860x600.css" />
     <link rel="stylesheet" type="text/css" href="../../sandbox/ui/layouts/structure.css" />
     <link rel="stylesheet" type="text/css" href="../../../js_lib/colour_picker/spectrum.css" />
     <link rel="stylesheet" type="text/css" href="../../sandbox/ui/dialogs/dialogs.css" />
     <link rel="stylesheet" type="text/css" href="../../sandbox/appearance/default_pro_theme/styles/widgets.css" />
     <link rel="stylesheet" type="text/css" href="../../sandbox/appearance/default_pro_theme/styles/ui_themes.css" />
     <!-- jquery UI -->
     <link rel="stylesheet" type="text/css" href="../../../js_lib/jqueryui-default-pro/css/default-pro/jquery-ui-1.10.3.custom.css" />
</head>
<body onload="checkWidth();">


  <div class="title_bar-skel">
    <h1></h1>
  </div>
  <header>
  <div class="menu_bar-skel">

  </div>
  <div class="common_bar-skel">
    
  </div><!-- common bar -->
  </header>
<section class="window">

		
<div class="tool_pane-skel">
  <table id="1" class="tool_box"><!-- 4 columns wide -->
    
  </table>
  <table id="2" class="tool_box">
   
  </table>

  
  <div class="help_box-skel">
     <div id="messages">
        <p class="warn">Warning</p>
        <p class="error">Error</p>
        <p class="info">Information</p>
        <p class="help">Help</p>
     </div>
  </div><!-- help box -->
     
</div><!-- tool pane -->
</section><!-- window -->
<div class="status_bar">
<div class="settings_menu">
  <nav role="navigation" aria-label="Main menu">
    <ul role="menubar">
        <li  id="programs_menu" role="menuitem" aria-haspopup="true" tabindex="0"><a href="#">Programs</a>
            <ul class="submenu" role="menu" aria-hidden="true">
                <li role="menuitem" tabindex="-1"><a href="#">Dashboard</a></li>
                <hr />
                <li class="label" tabindex="-1">Themes</li>
                <li role="menuitem" tabindex="-1"><a href="#"></a></li>
                <li role="menuitem" tabindex="-1"><a href="#"></a></li>
                
            </ul>
        </li>
    </ul>
  </nav>
</div>

    <div class="statuses">
    
    </div>
</div><!-- status_bar -->



</body>
</html>
