.app_window-skel, .title_bar-skel, .menu_bar-skel, .common_bar-skel, .window, .file_port, .tool_pane-skel, #file1, .help_box-skel, .status_bar, .settings_menu { position: absolute; }

.app_window-skel { margin: 0; padding: 0; height: 100%; width: 100%; }
.title_bar-skel { height: 20px; top: 0px; right: 0px;  }
.title_bar-skel h1 { font-size: 10pt; text-align: right; }
.menu_bar-skel { height: 30px; width: 100%; top: 20px; left: 10px; }
.common_bar-skel { height: 30px; width: 80%; top: 50px; left: 10px; }
.window {  width: 100%; height: 100%; padding: 3px; left: 10px; top: 80px;  }
.file_port { border: 1px solid black; 
  width: 570px; height: 400px; left: 0px; top: 0px; }
#file1 { }
.tool_pane-skel { width: 200px; height: 400px; right: 10px; top: 0px; border: 1px red solid; }
.help_box-skel { width: 195px; height: 100px; right: 15px; bottom: 120px; }  
.status_bar { width: 100%; height: 20px; right: 0px; bottom: 0px; }
.settings_menu