

  <table id="Words" class="tool_box">
    <tr>
      <td class="odd"><a href="./" id="font_choose" class="icon"><img src="icons/text/fonts.png" /></a></td>
      <td class="even"><a href="./" id="underline" class="icon"><img src="icons/text/format-text-underline.png" /></a></td>
      <td class="odd"><a href="./" id="bold" class="icon"><img src="icons/text/format-text-bold.png" /></a></td>
      <td class="even"><a href="./" id="italic" class="icon"><img src="icons/text/format-text-italic.png" /></a></td>
    </tr>
    <tr>
      <td class="even"><a href="./" id="strikethrough" class="icon"><img src="icons/text/format-text-strikethrough.png" /></a></td>
      <td class="odd"><a href="./" id="opera" class="icon"><img src="icons/text/opera.png" /></a></td>
      <td class="even"><a href="./" id="translate" class="icon"><img src="icons/text/babelfish.png" /></a></td>
      <td class="odd"><a href="./" id="pencil" class="icon"><img src="icons/text/pencil.png" /></a></td>
    </tr>
  </table>
