/* ui controls =========================================================== */
:root input[type="radio"] { position: absolute; left: -1400px; }
:root input[type="radio"] + label {
  background: url('images/radio_sprite.png') no-repeat 0 0;
  vertical-align: bottom;
  position: relative;
  bottom: 2px;
  padding-left: 5px;
  content: "";
  display: inline-block;
  width: 16px; height: 16px;
  margin-left: 0.5em;  margin-right: 0;
  margin-top: 0; margin-bottom: 0;
}
:root input[type="radio"]:checked  + label {
  background-position: 0 -16px;
}
:root  input[type="radio"]:disabled  + label {
  background-position: 0 -32px;
}
:root input[type="radio"]:checked:disabled  + label {
  background-position: 0 -48px;
}
:root input[type="checkbox"] { position: absolute; left: -1400px; }
:root input[type="checkbox"] + label {
  background: url('images/checkbox_sprite.png') no-repeat 0 0;
  vertical-align: bottom;
  position: relative;
  bottom: 2px;
  padding-left: 5px;
  content: "";
  display: inline-block;
  width: 16px; height: 16px;
  margin-left: 0.5em;  margin-right: 0;
  margin-top: 0; margin-bottom: 0;
}
:root input[type="checkbox"]:checked  + label {
  background-position: 0 -16px;
}
:root  input[type="checkbox"]:disabled  + label {
  background-position: 0 -32px;
}
:root input[type="checkbox"]:checked:disabled  + label {
  background-position: 0 -48px;
}
/* end of custom purple radio btns and checkboxes */

/* for the clipboard entries list */
#clippings_list { width: 200px; height: auto; }     
span.copied_text { 
  display: block; 
  height: 36px; width: 180px; 
  margin-left: 40px; 
  position: relative;
  top: -16px;
  overflow: hidden;
  font-size: 100%;
  font-family: serif;
  text-overflow: ellipsis;
}
#clippings_list ul li { 
  list-style-type: none; 
  margin-left: 5px; margin-right: 5px; 
  display: block;
  height: 40px;
  width: 100%;
  border: 1px solid #999;
}
label.copied_text #text1 { font-style: italic; }
/* Types of labels, text styling */
span.btn_text { 
  display: inline; 
  padding: 4px 10px 4px 10px; 
  font-size: 100%;
}
input[type="checkbox"]:focus + label, input[type="radio"]:focus + label {
  outline: 1px dashed #cdcdcd;
}
/* advanced options button */
button.advanced { 
    background: #BBAAFF; 
    border: 2px solid #1c1c1c; 
    border-bottom: 5px solid #222222;
    color: #ffffff;
}
div#options { display: none; }
/* end of advanced options button */

/* OK, Cancel buttons */
input#ok_btn {
    width: 86px; height: 48px;
    background: url('../icons/general/dialog_ok_128x72.png') no-repeat;
    background-size: 100% 100%;
    border: 3px solid #004300;
    border-radius: 4px;
    cursor: pointer;
}
button#cancel_btn {
    width: 116px; height: 48px;
    background: url('../icons/general/dialog_cancel_173x72.png') no-repeat;
    background-size: 100% 100%;
    border: 3px solid #880000;
    border-radius: 4px;
    cursor: pointer;
}
/* end of OK, Cancel buttons */

/* more general stuff */
label.helpLabel { float: left; }
label { }
input, textarea, div[contenteditable="contenteditable"] {
    background: white; color: black;
    border: 1px solid #e9dfe9;
    border-radius: 6px;
    padding: 0.2em;
    -webkit-box-shadow: inset 2px 2px 3px 0px #BBAAFF;
    -moz-box-shadow: inset 2px 2px 3px 0px #BBAAFF;
    box-shadow: inset 2px 2px 3px 0px #BBAAFF;
}
.longText { width: 100%; height: 5em; }
#progressbar { width: 60%; height: auto; }
input.sciNum { width: 160px; }
.slider { width: 50%; margin: 0.4em auto; }
.spinner { }
input.textField { width: 200px; float: left; }
input.timeField { width: 60px; }
select.combobox {
    width: 140px;
    height: auto;
    padding: 0.5em;
    font-size: 100%;
}
input[type="email"] { width: 200px; }

#font1 option { font-family: "sans serif"; }
#font2 option { font-family: serif; }
#spinner1 { width: auto; height: auto; }