/* structural stuff, basic animations */
html, body { margin: 0; padding: 0; height: 100%; }
.container { min-height: 100%; position: relative; }
body#home {  overflow: hidden; }
body#home h1 { 
    font-style: bold; 
    text-align: center; 
    font-size: 42px; 
    font-family: tahoma, arial, sans-serif;
}
body#home div#intro { 
    font-size: 28px; 
    margin: 0 auto; 
    width: 60%; 
    height: 60%; 
    margin-bottom: 60px; 
    overflow: auto;
}
body#home div#links { 
    position: relative;
    top: 80%;
    width: 820px; 
    margin: 0 auto;  
}
body#home div#handouts, #handouts a { 
    position: absolute;
    display: block;
    bottom: 0px;
    width: 150px;
    height: 70px;
    left: 4%; 
    
}
body#home div#links a { 
    display: inline-block; 
    width: 200px; 
    height: 60px; 
    border: 1px solid black; 
}

body.video-slide .bullets { display: none; }
body.video-slide .images { display: none; }

body.image-slide .video { display: none; }
body.image-slide .bullets { display: none; }

body.bullets-slide .video { display: none; }
body.bullets-slide .images { display: none; }

ul { list-style: none; font-size: 26px; }
li.bullet-header-text { font-weight: bold; font-family: tahoma, arial, sans-serif; }
div.bullets-img { 
    background: url('images/orange_bullet.png'); 
    background-size: contain; 
    width: 10px; 
    height: 10px; 
}
div#bullet-something { }

.images img { display: none;  }
.images img.display { display: block; width: 350px; height: 250px; }

div.link-area { }
.link-area .nav { }
.link-area .themes { }

div.link { }
div.link-img { }
.link a { }
.link a:hover { }
.link a:visited { }
.link a:active { }
a.link-text { }

div.footer { 
    position: absolute;
    display: block;
    bottom: 0px;
    width: 150px;
    height: 70px;
    left: 4%;       
}
div.footer a {  
    font-size: 120%;
    font-family: "times new roman", georgia, serif;
    text-decoration: none;
    color: black;
    outline: none; 
}
div.footer a:hover { }
div.footer a:visited { }
div.footer a:active { }
/* end of structure */

/* pretty stuff */
body#home #handouts a {
    font-size: 120%;
    font-family: "times new roman", georgia, serif;
    text-decoration: none;
    color: black;
    outline: none;
}
body#home a:visited { color: maroon; }
body#home a:active { background: #ddd; }
body#home a:hover { background: #ccc; }
