/* login form */

div#login_container {
  position: relative;
  width: 430px;
  height: 300px;
  margin: auto auto; /* center in middle of containing element */
  
  background: #ff0000; 
  background-image: ;
}
form#login {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40px; margin-right: 40px;
  width: 350px;
  height: 200px;

}
