/* (c) Copyright 2013 Hazel Windle 
 * 
 * Basic prettiness for the menus.
 * 
 */

.menu { position: absolute; background: #BBAAFF;  color: #000000; 
          font-family: arial, sans-serif; 
          display: none; 
          border: 2px solid #CCAAEE;
          
}

.menuAcckey { text-align: right; color: #1c1c1c;  }
.menu, .menu tr { border-top: 1px solid black; 
  margin: 0; padding: 0; }
.menu .name tr { background: #BBAAFF;  color: #000000; }

tr a:hover { background: #CCCCFF; text-decoration: underline; }
.menu_item a:active { text-decoration: none;  }
.menu_item a:link, .menu_item a:visited { text-decoration: none; }