/* (c) Copyright 2013 Hazel Windle 
 * 
 * Basic prettiness for the menus.
 * 
 */

ul.menu { font-family: arial, sans-serif; display: none;  }

span.acckey { text-decoration: underline; text-align: right; color: #1c1c1c; }
ul.menu, ul.menu li {
  list-style: none outside none;
  margin: 0; padding: 0; }
ul.menu li a { display: inline;  }
ul.menu .menu_item { background: #BBAAFF;  color: #000000; }

ul.menu li:hover > a.menu_item { background: #CCCCFF; } /* not sup. IE9 */
ul.menu a:hover { text-decoration: none;  }
ul.menu a:active { text-decoration: underline;  }
ul.menu a:link, ul.menu a:visited { text-decoration: none; }