table#file_formats tr td { padding: 3px; }
table#file_formats { border: 1px solid black; }
table#file_formats tr { border-bottom: 1px solid navy; }
#file_formats thead { font-weight: bold; }
#file_formats th { text-align: center; }
#file_formats tbody { }
#file_formats td { }

tr.binary-file { background: #66CCCC; }

tr.standard-file { background: #9999FF; }

tr.xml-file { background: #FF9966; }