/* (c) Copyright 2013 Hazel Windle 
 * 
 * Base styles for the menu bar. Drop down menus are separate.
 * 
 */
ul.all-menus { font: arial, sans-serif;
  position: relative; top: 0px; left: 0px;  }
span.acckey { text-decoration: underline; }
ul.all-menus, ul.all-menus li {
  list-style: none outside none;
  margin: 0; padding: 0; }
ul.all-menus li a { display: block; float: left; }
ul.all-menus .menuLink { background: #BBAAFF;
  border: 1px solid white; 
  border-radius: 5px;
  color: #000000;
}

ul.all-menus li:hover > a.menuLink { text-shadow: 2px 2px #ffffff; } /* not sup. IE9 */
ul.all-menus a:hover { text-decoration: none; background: #CCBBFF; }
ul.all-menus a:active { text-decoration: none;
  font-style: italic;
}
ul.all-menus a:link, ul.all-menus a:visited { text-decoration: none; }

